.clearBoth {
  clear: both;
}
body {
  font-family: Arial, sans-serif;
}

h1{
  font-family: 'Arial', sans-serif;
  color: black;
  text-align: center;
  font-size: 50px;
  font-weight: 0;
  margin-bottom: 20px;
  letter-spacing: 1px; /* Increase the spacing between letters */
}


table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

table th, table td {
  border: none;
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

table tr {
  background-color: #f8f8f8;
  font-size: 0.9em; /* Make the font size smaller */
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 20px rgba(0,0,0,0.1);
  cursor: pointer;
}

table th {
  background-color: #4CAF50;
  color: white;
  text-transform: uppercase;
}

table tr:first-child th {
  font-weight: bold; /* Make only the first row bold */
  text-align: center;
  font-size: 1em; /* Reset the font size for the first row */
}